<!DOCTYPE html>
<html lang="en" ng-app="app">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pokemon Go Full Rater</title>

    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="./app/style.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'>

    <script src="./bower_components/angular/angular.min.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.min.js"></script>
    <script src="./bower_components/angular-messages/angular-messages.min.js"></script>
    <script src="./bower_components/angular-material/angular-material.min.js"></script>
    <script src="./bower_components/angular-tablesort/js/angular-tablesort.js"></script>
    <script src="./app/app.js"></script>
    <script src="./app/basicController.js"></script>
    <script src="./app/chargedController.js"></script>
    <script src="./app/speciesController.js"></script>

  </head>

  <body ng-cloak>

    <md-content>
      <h1>- Pokemon Full Rater -</h1>
      <md-tabs md-dynamic-height md-border-bottom>
        <md-tab label="Basic Moves">
          <table ng-controller="BasicController as basic" ts-wrapper>
            <tr>
              <th ts-criteria="ID" ts-default>ID</th>
              <th ts-criteria="Name">Name</th>
              <th ts-criteria="Type">Type</th>
              <th ts-criteria="PW">PW</th>
              <th ts-criteria="Duration">Duration</th>
              <th ts-criteria="NRG">NRG</th>
              <th ts-criteria="NRGPS">NRGPS</th>
              <th ts-criteria="DPS">DPS</th>
            </tr>
            <tr ng-repeat="value in basic.basicMoves" ts-repeat>
              <td>{{value.ID}}</td>
              <td>{{value.Name}}</td>
              <td class="{{value.Type.toLowerCase()}}">{{value.Type}}</td>
              <td ng-class="{'hight': value.PW >= 0.85 * basic.pwMax, 'low': value.PW <= 1.15 * basic.pwMin}">{{value.PW}}</td>
              <td ng-class="{'low': value.Duration >= 0.85 * basic.durationMax, 'hight': value.Duration <= 1.15 * basic.durationMin}">{{value.Duration}}</td>
              <td ng-class="{'low': value.NRG >= 0.85 * basic.nRGMax, 'hight': value.NRG <= 1.15 * basic.nRGMin}">{{value.NRG}}</td>
              <td ng-class="{'low': value.NRGPS >= 0.85 * basic.nRGPSMax, 'hight': value.NRGPS <= 1.15 * basic.nRGPSMin}">{{value.NRGPS}}</td>
              <td ng-class="{'hight': value.DPS >= 0.85 * basic.dPSMax, 'low': value.DPS <= 1.15 * basic.dPSMin}">{{value.DPS}}</td>
            </tr>
            <tr>
              <td colspan="3">Averages : </td>
              <td>{{basic.pwAvg}}</td>
              <td>{{basic.durationAvg}}</td>
              <td>{{basic.nRGAvg}}</td>
              <td>{{basic.nRGPSAvg}}</td>
              <td>{{basic.dPSAvg}}</td>
            </tr>
          </table>
        </md-tab>
        <md-tab label="Charged Moves">
          <table ng-controller="ChargedController as charged" ts-wrapper>
            <tr>
              <th ts-criteria="ID" ts-default>ID</th>
              <th ts-criteria="Name">Name</th>
              <th ts-criteria="Type">Type</th>
              <th ts-criteria="PW">PW</th>
              <th ts-criteria="Duration">Duration</th>
              <th ts-criteria="DodgeWindow">Dodge Window</th>
              <th ts-criteria="Crit">Crit %</th>
              <th ts-criteria="NRGCost">NRG Cost</th>
            </tr>
            <tr ng-repeat="value in charged.chargedMoves" ts-repeat>
              <td>{{value.ID}}</td>
              <td>{{value.Name}}</td>
              <td class="{{value.Type.toLowerCase()}}">{{value.Type}}</td>
              <td ng-class="{'hight': value.PW >= 0.85 * charged.pwMax, 'low': value.PW <= 1.15 * charged.pwMin}">{{value.PW}}</td>
              <td ng-class="{'low': value.Duration >= 0.85 * charged.durationMax, 'hight': value.Duration <= 1.15 * charged.durationMin}">{{value.Duration}}</td>
              <td ng-class="{'low': value.DodgeWindow >= 0.85 * charged.dodgeWindowMax, 'hight': value.DodgeWindow <= 1.15 * charged.dodgeWindowMin}">{{value.DodgeWindow}}</td>
              <td ng-class="{'hight': value.Crit >= 0.85 * charged.critMax, 'low': value.Crit <= 1.15 * charged.critMin}">{{value.Crit.replace(".00", ""); }}</td>
              <td ng-class="{'low': value.NRGCost >= 0.85 * charged.NRGCostMax, 'hight': value.NRGCost <= 1.15 * charged.NRGCostMin}">{{value.NRGCost}}</td>
            </tr>
            <tr>
              <td colspan="3">Averages : </td>
              <td>{{charged.pwAvg}}</td>
              <td>{{charged.durationAvg}}</td>
              <td>{{charged.dodgeWindowAvg}}</td>
              <td>{{charged.critAvg}}</td>
              <td>{{charged.NRGCostAvg}}</td>
            </tr>
          </table>
        </md-tab>
        <md-tab label="Species Data">
          <table ng-controller="SpeciesController as species" ts-wrapper>
            <tr>
              <th ts-criteria="ID" ts-default>ID</th>
              <th ts-criteria="Name">Name</th>
              <th ts-criteria="HPRatio">HP Ratio</th>
              <th ts-criteria="AttackRatio">Attack Ratio</th>
              <th ts-criteria="DefenseRatio">Defense Ratio</th>
              <th ts-criteria="MinCPCap">Min CP Cap</th>
              <th ts-criteria="MaxCPCap">Max CP Cap</th>
            </tr>
            <tr ng-repeat="value in species.speciesData" ts-repeat>
              <td>{{value.ID}}</td>
              <td>{{value.Name}}</td>
              <td ng-class="{'hight': value.HPRatio >= 0.85 * species.hpRatioMax, 'low': value.HPRatio <= 1.15 * species.hpRatioMin}">{{value.HPRatio}}</td>
              <td ng-class="{'hight': value.AttackRatio >= 0.85 * species.attackRatioMax, 'low': value.AttackRatio <= 1.15 * species.attackRatioMin}">{{value.AttackRatio}}</td>
              <td ng-class="{'hight': value.DefenseRatio >= 0.85 * species.defenseRatioMax, 'low': value.DefenseRatio <= 1.15 * species.defenseRatioMin}">{{value.DefenseRatio}}</td>
              <td ng-class="{'hight': value.MinCPCap >= 0.85 * species.minCPCapMax, 'low': value.MinCPCap <= 1.15 * species.minCPCapMin}">{{value.MinCPCap}}</td>
              <td ng-class="{'hight': value.MaxCPCap >= 0.85 * species.maxCPCapMax, 'low': value.MaxCPCap <= 1.15 * species.maxCPCapMin}">{{value.MaxCPCap}}</td>
            </tr>
            <tr>
              <td colspan="2">Averages : </td>
              <td>{{species.hpRatioAvg}}</td>
              <td>{{species.attackRatioAvg}}</td>
              <td>{{species.defenseRatioAvg}}</td>
              <td>{{species.minCPCapAvg}}</td>
              <td>{{species.maxCPCapAvg}}</td>
            </tr>
          </table>
        </md-tab>
      </md-tabs>
    </md-content>
  </body>
</html>
